.facerecognition {
    padding-top: 20px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 500px;
}

.facerecognition img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.facerecognition .bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}